body {
  margin: 0;
  padding: 0;
}

.ui.card>.card {
  background-color: #2b2b2b;
}

.playerCard {
  background-color: #2b2b2b;
}
.main-header {
  font-family: 'Wallpoet', cursive;
}

.footer {
  margin: auto;
  margin-top: 50px;
}

.contact-link {
  margin: 10px;
  color: black;
}

.intro-modal {
  background-color: white;
  color: #21BA45;
  position: absolute;
  height: 100%;
  width: 99%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
